{% extends "base.html" %}

{% block name %}
  <h1>Album list</h1>
  <a href="{% url 'music_release:album-create' %}" class="btn btn-primary link-to-page">
    <i class="bi bi-plus-circle"></i>
  </a>
{% endblock %}

{% block content %}

  {% if album_list %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Length</th>
          <th scope="col">Releasedate</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for album in album_list %}
          <tr>
            <th scope="row"><a href="{% url 'music_release:album-detail' pk=album.id %}">{{ album.id }}</a></th>
            <td>{{ album.title}}</td>
            <td>{{ album.length}}</td>
            <td>{{ album.release_date}}</td>
            <td>
              <a href="{% url 'music_release:album-update' pk=album.id %}" class="btn btn-info link-to-page">
                <i class="bi bi-pencil-fill"></i>
              </a>
              <a href="{% url 'music_release:album-delete' pk=album.id %}" class="btn btn-danger link-to-page">
                <i class="bi bi-trash"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no albums</p>
  {% endif %}
{% endblock %}