{% extends "base.html" %}

{% block name %}
  <h1>Album detail</h1>
    {% load static %}
  <div>
    <a href="{% url 'music_release:album-update' pk=album.id %}" class="btn btn-info link-to-page">
      <i class="bi bi-pencil-fill"></i>
    </a>
    <a href="{% url 'music_release:album-delete' pk=album.id %}" class="btn btn-danger link-to-page">
      <i class="bi bi-trash"></i>
    </a>
  </div>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="float-left mr-4 ml-3">
      <img src="{% static 'music_release/album_cover_default.png' %}" alt="" class="img-thumbnail">
    </div>
    <div >
      <strong>Title:</strong><p>{{ album.title }}</p>
      <strong>Artists:</strong><p>{{ album.artists.all| join:", " }}</p>
      <strong>Length:</strong><p>{{ album.length }}</p>
      <strong>Date:</strong><p>{{ album.release_date }}</p>
    </div>
  </div>
  <div class="track-list"><h3>Track List</h3>
    <a href="{% url 'music_release:song-create' album=album.pk %}" class="btn btn-primary link-to-page">
      <i class="bi bi-plus"></i>
    </a>
  </div>
  {% if album.songs %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Length</th>
        </tr>
      </thead>
      <tbody>
        {% for song in album.songs.all %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'music_release:song-detail' pk=song.id %}">"{{ song.title }}"</a></td>
            <td>{{ song.length}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no songs</p>
  {% endif %}
{% endblock %}