{% extends "base.html" %}

{% block name %}
  <h1>Music Service Home</h1>
{% endblock %}

{% block content %}
  <p>Welcome to Best Music service Ever!</p>
  <h2>Dynamic content</h2>
  <p>The Music service has the following record counts:</p>
  <ul>
    <li><strong>Artists:</strong> {{ num_artists }}</li>
    <li><strong>Albums:</strong> {{ num_albums }}</li>
    <li><strong>Genres:</strong> {{ num_genres }}</li>
  </ul>

  <p>You have visited this page
      {{ num_visits }} time{{ num_visits|pluralize }}.
  </p>
{% endblock %}
