{% extends "base.html" %}

{% block name %}
  <h1>Song list</h1>
  <a href="{% url 'music_release:song-create' %}" class="btn btn-primary link-to-page">
    <i class="bi bi-plus-circle"></i>
  </a>
{% endblock %}

{% block content %}
  {% block search %}
    {% include "includes/search_form.html" %}
  {% endblock %}
  {% if song_list %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Length</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for song in song_list %}
          <tr>
            <th scope="row">{{ song.id }}</th>
            <td><a href="{% url 'music_release:song-detail' pk=song.id %}">{{ song.title}}</a></td>
            <td>{{ song.length}}</td>
            <td>
              <a href="{% url 'music_release:song-update' pk=song.id %}" class="btn btn-info link-to-page">
                <i class="bi bi-pencil-fill"></i>
              </a>
              <a href="{% url 'music_release:song-delete' pk=song.id %}" class="btn btn-danger link-to-page">
                <i class="bi bi-trash"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no songs</p>
  {% endif %}
{% endblock %}