<nav id="sidebar">
  <div class="sidebar-header">
    {% load static %}
    <img src="{% static 'music_release/music_release_logo.svg' %}" alt="">
  </div>

  <ul class="list-unstyled components">
    <p>
      <li>
          <a href="#">Username</a>
      </li>
    </p>
    <li>
        <a href="{% url 'login'%}">LogIn</a>
    </li>
    <li>
        <a href="{% url 'logout'%}">LogOut</a>
    </li>
  </ul>
  <ul class="list-unstyled components">
    <li>
        <a href="{% url 'music_release:index' %}">Home</a>
    </li>
    <li>
        <a href="{% url 'music_release:artist-list' %}">Artists</a>
    </li>
    <li>
        <a href="{% url 'music_release:album-list' %}">Albums</a>
    </li>
    <li>
        <a href="{% url 'music_release:genre-list' %}">Genres</a>
    </li>
  </ul>

</nav>